<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label>Track Name</label>
        <input type="text" name="name" placeholder="Name" value="{{name}}" data-dtype="String"/>
    </div>

    <div class="form-group">
        <label>Audio Source</label>
        {{filePicker target="path" type="audio"}}
        <input class="image" type="text" name="path" placeholder="path/audio.mp3" value="{{path}}" data-dtype="String"/>
    </div>

    <div class="form-group">
        <label>Maximum Volume</label>
        <input class="sound-volume" type="range" name="lvolume" title="Sound Volume"
               value="{{lvolume}}" min="0" max="1" step="0.05" tabindex="-1"/>
    </div>

    <div class="form-group">
        <label>Minimum Volume</label>
        <input class="sound-volume" type="range" name="flags.minvolume" title="% of Maximum Volume"
               value="{{flags.minvolume}}" min="0" max="1" step="0.05" tabindex="-1"/>
    </div>

    <div class="form-group">
        <label>Repeat</label>
        <input type="checkbox" name="repeat" data-dtype="Boolean" {{checked repeat}}/>
    </div>

    <div class="form-group">
        <label>Minimum Delay</label>
        <input type="number" name="flags.mindelay" placeholder="Delay in Seconds" value="{{flags.mindelay}}" title="Delay in Seconds" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label>Maximum Delay</label>
        <input type="number" name="flags.maxdelay" placeholder="Delay in Seconds" value="{{flags.maxdelay}}" title="Delay in Seconds" data-dtype="Number"/>
    </div>

    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> Update Track</button>
</form>
